body {
  margin:0;
  background: #558C89;
  font-family: 'Amatic SC', cursive;
}

.myname {
  font-weight: bold;
  font-size: 55px;
}

ul.topnav li {
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 30px;
}

.myinfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

p.my-name {
    max-width: 490px;
    overflow: hidden;
    align-self: center;
    padding-left: 250px;
    font-size: 45px;
    color: #ECECEA;
}

img.my-picture {
    width: 30%;
    height: auto;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 47px;
}

ul.topnav li a:hover {
  font-weight: bold;
}

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}