{
  box-sizing: border-box;
}

body {
    margin: 0;
    background: #558C89;
    font-family: 'Amatic SC', cursive;
}

.socialmedia {
    position: absolute;
    right: 0px;
    width: 350px;;
    border: none;
    padding: 30px;
}

.socialmedia > a > img {
    width: auto;
}

.socialmedia > a > img:hover {
    box-shadow: 0 0 10px;
    transition: 0.4s;
}

.headers {
  display: flex;
}

.header {
    font-size: 35px;
    font-weight: bold;
    color: #f2f2f2;
    font-family: 'Amatic SC', cursive;
    padding-left: 70px;
    padding-top: 40px;
}

.header > span:hover {
    box-shadow: 0 0 10px;
    transition: 0.4s;
    alt: "Menu";
}

.information {
    display: flex;
}

.myinfo {
    text-align: center;
    width: 100%;
    height: auto;
    margin-top: 350px;
    margin-right: 200px;
    margin-left: 200px;
}

.myinfo > h1 {
    font-size: 65px;
    font-weight: bold;
    color: #ECECEA;
}

.myinfo > p {
    font-size: 35px;
    color: #ECECEA;
}

.myname {
    font-size: 40px;
    font-weight: bold;
}

.mywork {
    display: flex;
    padding-top: 50px;
    margin-bottom: 25px;
}

#work > h1 {
    font-size: 65px;
    text-align: center;
    font-weight: bold;
    color: #ECECEA;
}

.myworks {
    width: 400px;
    margin: 0 auto;
    border-radius: 2px;
}

.myworks > p {
    text-align: center;
    font-size: 20px;
    color: white;
}

.myworks > a > .newimage {
    border: solid 6px #2098D1;
    height: auto;
    width: 100%;
    transition: all 1s ease;
}

.newimage:hover {
    border: solid 70px black;
    border-radius: 50%;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 1);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 40px;
    color: #818181;
    display: block;
    transition: 0.4s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 30px;
    right: 45px;
    font-size: 40px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}